.items {
  /* border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: black; */
  padding: 5px;
  margin: 0px;
}

.container {
  border: 5px;
  border-color: red;
  font-family: monospace;
  font-weight: bold;
}

.strikeThrough {
  text-decoration: line-through;
}

#title {
  font-size: 50pt;
  padding: 0px;
  margin: 0px;
}

#list-item {
  border-style: solid;
  border-color: black;
  background-color: rgb(155, 155, 155);
  list-style-type: none;
  padding: 15px;
  margin: 5px;
  font-size: 23pt;
  color: rgb(44, 44, 44);
}

#delBtn {
  margin-left: 17px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 10px;
  background-color: pink;
  border-radius: 10%;
  font-weight: 785;
  color: rgb(44, 44, 44);
  font-size: 11pt;
}
